body {
    font: 14px sans-serif;
}

.center-item {
    text-align: center;
    display: block;
    margin: 0 auto;
}
/* .center-item .center-align{
    display: block;
    margin: 0 auto;
} */